hamlet/play.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT play (author, title, act+)>
<!ELEMENT act (title, scene+)>
<!ELEMENT scene (title, (speech | stagedir)+)>
<!ELEMENT speech (speaker, (line | stagedir)+)>
<!ELEMENT speaker (#PCDATA)>
<!ELEMENT line (#PCDATA | stagedir)*>
<!ELEMENT stagedir (title, length)>